/proyectofinalinfo22/settings/local.py
/proyectofinalinfo22\settings\__pycache__
/proyectofinalinfo22\__pycache__
/proyectofinalinfo22\apps\blog_auth\__pycache__
/proyectofinalinfo22\apps\eventos_app\__pycache__
/proyectofinalinfo22\apps\noticias_app\__pycache__
/proyectofinalinfo22\db.sqlite3