{% extends 'base.html' %}
{% load static %}
{% block HOME %}
<section>
    <h2  id="head_div_seccion" class="titulo">COLABORA CON NOSOTROS</h2>
  </section>
</section>
<section>
<article> 
    <section id="Colabora">
                        <div>
                            <div id="texto_colabora">
                                <h2>Ayudanos a ayudar</h2> 
                                
                                <ul>
                                    <li><h4>Donación a través de mercado pago</h4> 
                                     </li>
                                    
                                <h3>
                                    <li>al número 3624-082451</li>
                                    <li>CVU Mercado Pago <br>
                                    0000003100051311090815</li>
                                    <li>Alias: dual.amago.cargo.mp</li>
                                </h3> 
                            </ul>
                                 
                                <h4>O también podes donar dinero por TRANSFERENCIA BANCARIA<br>
                                     a la cuenta de la FUNDACIÓN</h4>
                                <ul>
                                     <h3>
                                        <li>Nro de Cuenta: 111369/00 </li>
                                        <li>CBU: 3110030211000111369005</li>
                                        <li>CUIT N° 30-71686978-0 </li>
                                </h3>
                            </ul>
                            </div>
                        </div>
                </section>
    
</article>
<aside>
    <ul>
    
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F1WGYWaG&sa=D&sntz=1&usg=AOvVaw1zcwxaCkvaRtVu1aJ_JdxS" class="nav-link">DONAR $100</a></li>
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F1SECxVv&sa=D&sntz=1&usg=AOvVaw3VH3GVObBEpOOGfhQP-DVT" class="nav-link">DONAR $200</a></li>
    <li button class="btn btn-success" type="button"><a href="http://www.google.com/url?q=http%3A%2F%2Fmpago.la%2F1H1uvo&sa=D&sntz=1&usg=AOvVaw0PmDMdCl7kGcks2DEaBGZ5" class="nav-link">DONAR $300</a></li>
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F2PK1TUA&sa=D&sntz=1&usg=AOvVaw2lFWEKMsBtbJpnZAlzB5Iw" class="nav-link">DONAR $500</a></li>
    <li button class="btn btn-success" type="button"><a href="http://www.google.com/url?q=http%3A%2F%2Fmpago.la%2F2cFEDf&sa=D&sntz=1&usg=AOvVaw15wXZmCa3cDJ5k2CpJ_fxV" class="nav-link">DONAR $700</a></li>
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F1YmWD31&sa=D&sntz=1&usg=AOvVaw2ChUJzsM8wiMQOoxfkJRBy" class="nav-link">DONAR $1000</a></li>
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F2icDLqr&sa=D&sntz=1&usg=AOvVaw2lUmzmh6bqnD-Ee-fV9DK_" class="nav-link">DONAR $2000</a></li>
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F1aCRqub&sa=D&sntz=1&usg=AOvVaw13Tcyyw_a8jZgxE1Y-n6YI" class="nav-link">DONAR $2500</a></li>
    <li button class="btn btn-success" type="button"><a href="https://www.google.com/url?q=https%3A%2F%2Fmpago.la%2F2ELcUeD&sa=D&sntz=1&usg=AOvVaw3Lx99Shwyq3P8fgJPDvfK7" class="nav-link">DONAR $5000</a></li>
</ul>
</aside>

{% endblock %}