{% extends 'base.html' %}
{% load static %}
{% block HOME %}

<form id="fondo_formulario" action="" method="POST">
    {% csrf_token %}
            <img id="logo_grande_login" src="{% static 'images/LogoCasaArbol.png' %}" alt="">
            <ul id="cuadroregistro">
                <h2 id="registrate">REGISTRATE</h2>
                <input id="input_pagina" name= "username" type="text" placeholder="Nombre de usuario" >
                <input id="input_pagina" type= "email" name="email" placeholder="Correo Electronico">
                <input id="input_pagina" name= "password1" type="password" placeholder="Ingrese una contraseña">
                <input id="input_pagina" name= "password2" type="password" placeholder="Repetir contraseña">
                <button id= "botonenviar" type="submit"> Enviar </button> <br> 
                <a id="input_pagina" href="{% url 'login' %}">¿Ya estas registrado? Ingresa a la pagina</a>
            </ul>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong> {{ error | escape  }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_fields_errors %}
    <div class="alert alert-danger">
        <strong> {{ error | escape  }}</strong>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}